body {
    margin: 20px;
    background-color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

h1 {
    margin: 10px auto 10px auto;
    padding: 20px;
    color: green;
    font-family: 'Sacramento', cursive;
    font-size: 5.7rem;
    border-style: none;
    background-size: 100%;
    background-color: rgb(160, 233, 160);
}

p {
        margin: 50px 150px;
    }
    
    
    

 .main-page { 
    text-align: center;
    margin: 60px auto 20px auto;

}
.sub-heading {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    line-height: 2;
    padding: 10px;

}


img {
    width: 30%;
}

hr {
    border-style: dotted none none;
    border-color: green;
    border-width: 20px;
    width: 30%;
}
a { 
    color:green ;
}
a:hover {
    color:rgb(160, 233, 160) ;
}

.ladies-png {
    width: 50%;
}
.logo-png {
    width: 20%;
    position: absolute;
    left: 20px;
}
.middle-segment {
    margin: 20px 20px;
}
.contact-us {
    margin: 40px auto;
    padding-bottom: 20px;
    width: 80%;
    line-height: 1.5;
    }
      .btn {
          margin: 25px 25px;
            border-radius: 20px;
            height: 20px;
            line-height: 20px;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            width: 150px;
            font-size: 20px;
            font-weight: 300;
            padding: 15px 15px;
            background-color: green;
            box-shadow: 1px 1px 20px 0 #000000;
            text-shadow: 1px 1px 20px #000000;
            border: solid #11999E 1px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            text-align: center;
         }
         
         .btn:hover {
            background: rgb(160, 233, 160);
            border: solid #0f959a 2px;
            border-radius: 20px;
            color: green;
            text-decoration: none;
         }  
    .footer-link {
        margin: 150px 50px;
        font-size: 1.2rem;
        text-decoration-line: none;
        
    }
    
    .copyright {
        color: #4fd83a;
        font-size: 1rem;
        padding-top: 10px;
    }